.b-filter{
    padding: 1em 2.5em 2.5em;
    background:#f2f6f8;
    position: relative;
}
.b-filter__left{
    width: 45.5%;
    margin-right: 2%;
    float: left;
}
.b-filter__right{
    overflow: hidden;
    padding: 0 0 10em 0;
}
.b-filter__title{
    font-size:1.9em;
    color: #000;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    padding: 0 0 0.5em;
}
.b-filter__select{
    display: block!important;
    width: 100%;
    margin-bottom: 1.4em;
}
.b-filter__select .jq-selectbox__select-text:before {
    content:"от ";
}
.b-filter__select_fin .jq-selectbox__select-text:before{
    content:"до ";
}
.jq-selectbox__dropdown{
    background:#fff;
    cursor:default;
    width: 100%;
}
.jq-selectbox__trigger-arrow{
    position: absolute;
    top:50%;
    right: 1em;
    border-top:4px solid #000;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
}
.jq-selectbox__dropdown li{
    padding: 0.2em 0.5em 0.2em 1.4em;
    font-size: 1.4em;
    display: block;
}
.jq-selectbox__dropdown li:hover{
    background:#ccc;
}
.jq-selectbox__select{
    border:0;
    background:#fff;
    color: rgba(0,0,0,.5);
    box-shadow: 1px 1px 3px rgba(145,166,176,.23);
    font-size: 1.4em;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;    
    -webkit-box-sizing: border-box;
    width: 100%;
    padding: 0.605em 0 0.605em 1.4em;
    line-height: 1.5;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}
.b-filter__select:focus{
    outline: none;
}
.b-filter__select option:checked:before{
    content:'От';
}
.b-filter__label{
    display: block;
    font-size:1.4em;
    color: #000;
    padding: 0.37em 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;        
}
.b-filter__label .d_check{
    margin-right: 0.5em;
}
.b-filter__multiple{
    display: block;
    width: 100%;
    font-size:1.4em;
    color: #000000;
    background:#ffffff;
}
.b-filter__multiple li{
    border-top:1px solid #f6f6f6;
    display: block;
    padding: 0.43em 1.64em;
    line-height: 1.5;
    cursor: default;
}
.b-filter__multiple li.selected{
    background:#ccc;
}
.b-filter__results{
    font-size:1.8em;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;    
    background:#18a8e1;
    padding: 1em 1.2em 1em 3.2em;
    line-height: 2;
    position: absolute;
    bottom:1.65em;
    right:1.39em;
    width: 42.3%;
}
.b-filter__resultsBtn{
    font-size:23px;
    border-radius:.3em;
    color:#fff;
    border:2px solid #fff;
    background:transparent;
    padding: 0 2em;
    float: right;
    line-height: 1.42;
    vertical-align: middle;
    display: block;
    margin: 0;
    cursor:pointer;
    -moz-transition: background 0.3s ease, color 0.3s ease;
    -webkit-transition: background 0.3s ease, color 0.3s ease;   
    transition: background 0.3s ease, color 0.3s ease;   
}
.b-filter__resultsBtn:hover{
    background:#fff;
    color: #18a8e1;
}
.b-filter__resultsBtn_inactive,.b-filter__resultsBtn_inactive:hover{
    cursor:default;
    color:#ccc;
    border-color:#ccc;
    background:transparent;
}
.b-filter__type{
    position: absolute;
    top:-3.5em;
    right: 0;
    text-align: right;
}
.b-filter__type .b-filter__label{
    display: inline-block;
    padding: 0 3em 0 0;
}
.b-filter__type .b-filter__label:last-child{
    padding: 0;
}
.b-filter__label, .b-filter__multiple li{
    position: relative;
}
.b-filter__multiple li:after{
    content: '';
    position: absolute;
    width:2em;
    height:100%;
    right: 0;
    top: 0;
    display: block;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzUlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=) repeat-x;
    background-size: 100% 100%;
}
.b-filter__multiple li.selected:after{
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzUlIiBzdG9wLWNvbG9yPSIjY2NjY2NjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
}

